Host 51.250.127.54
  User user
  Hostname 51.250.127.54
  ProxyCommand none
  PasswordAuthentication no
  ForwardAgent yes
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no

Host 192.168.33.20
  User user
  ProxyCommand ssh -q -A -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -W %h:%p user@51.250.127.54

Host 192.168.33.14
  User user
  ProxyCommand ssh -q -A -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -W %h:%p user@51.250.127.54

Host 192.168.33.11
  User user
  ProxyCommand ssh -q -A -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -W %h:%p user@51.250.127.54

